<h1>{{ title }}</h1>
<status logger="logger"></status>
<a href="#/user/add" class="icon-plus">Add user</a>
<form class="form-inline">
  <input type="text" ng-model="search" placeholder="Search" />
  <select ng-model="status">
    <option value="">- None -</option>
    <option value="false">Blocked</option>
    <option value="true">Active</option>
  </select>
</form>
<table class="table">
  <tr ng-repeat="user in users | filter: search | filter: status">
    <td><input type="checkbox" ng-model="user.checked" /></td>
    <td ng-repeat="property in properties">{{ user[property] }}</td>
    <td><a href="#/user/{{user.id}}">Edit</a> | <a href="{{user.delete}}">Delete</a></td>
  </tr>
</table>
<div class="operations form-inline" ng-show="boxesChecked()">
  <select ng-model="operation">
    <option value="">- Choose -</option>
    <option value="delete">Delete</option>
    <option value="block">Block</option>
    <option value="unblock">Unblock</option>
  </select>
  <input type="submit" ng-click="showConfirm=true" value="Submit" class="btn" />
</div>
<div ng-show="showConfirm">
  Are you sure?
  <input type="submit" ng-click="confirmOperation()" />
  <a ng-click="showOperationModal=false" class="btn" />
</div>
</div>
</div>
